<footer class=" text-center mb-0" style="background-color: #343a40; color: #ffffff; ">
    <section class="p-4 pb-0" >

        <a   class="btn text-white btn-floating m-1" style="background-color: #3b5998;" role="button"
            ><i class="bi bi-facebook"></i>
        </a>

        <a   class="btn text-white btn-floating m-1" style="background-color: #55acee;"  role="button"
        ><i class="bi bi-twitter-x"></i>
        </a>

        <a   class="btn text-white btn-floating m-1" style="background-color: #dd4b39;"  role="button"
        ><i class="bi bi-google"></i>
        </a>

        <a   class="btn text-white btn-floating m-1" style="background-color: #ac2bac;"  role="button"
        ><i class="bi bi-instagram"></i>
        </a>

        <a   class="btn text-white btn-floating m-1" style="background-color: #208de0;"  role="button"
        ><i class="bi bi-linkedin"></i>
        </a>
        
        <!-- <a   class="btn text-white btn-floating m-1" style="background-color: #333333;;"  role="button"
        ><i class="bi bi-github"></i>
        </a> -->
        
    </section>
    <div class="col ">
        <p class=" mb-0 py-3" style=" font-weight: bold; font-size: large;">&copy;{{getDate}}Muhammad Bilal | All Rights Reserved</p>
    </div> 
</footer> 

