<div class="container">
    <div class="row mt-5">
        <div class="col d-flex justify-content-between">
            <button class="btn btn-outline-dark rx-btn" type="button" routerLink="observable"> Observables</button>
            <button class="btn btn-outline-dark rx-btn" type="button" routerLink="operators"> Operators</button>
            <button class="btn btn-outline-dark rx-btn" type="button" routerLink="subject"> Subject</button>
        </div>
        <div class="my-4">
            <hr>
        </div>
    </div>
</div>
<div class="rxjs-item">
    <router-outlet></router-outlet>
</div>